<html lang='en'>
<head>
    <title>⚔️ Vegas Golden Knights or Not</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
</head>
<body>
<div>
    <div class='center'>
        <div class='title'><img class="knights-logo" src="../static/img/Vegas_Golden_Knights_logo.svg" alt="Golden Knights Logo">Vegas Golden Knight ⚔️ or Not</div>
        <p>
            Take a picture 📷 to determine if it is a Vegas Golden Knight ⚔️ or Not. 
        </p>
        <p>Show your support for the Las Vegas Golden Knights!</p>
        <div class='content'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <button class='choose-file-button' type='button' onclick='showPicker()'>📷 Take Photo</button>
            <div class='analyze' style="padding-bottom:30px;">
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>🕵️ Examine</button>
            </div>
            <div class='upload-label'>
                <label id='upload-label'>No file chosen</label>
            </div>
            <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Vegas Golden KnAIght thinks this is....</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class='result-label'>
                            <h2 id='result-label'>
                                <div>
                                    <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
                                </div>
                            </h2>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class='choose-file-button' data-dismiss="modal">👎 Nope! Sorry KnAIght.</button>
                        <button type="button" class='analyze-button' data-dismiss="modal">👍 Yup! You are a genius KnAIght.</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="blockquote-footer">Made with 💜 by <cite title="Source Title"><a href="https://twitter.com/jkeatin" target="_blank">jkeatin</a></cite></footer>
        <footer class="blockquote-footer">Thanks to <cite title="Source Title"><a href="https://course.fast.ai/deployment_render.html" target="_blank">Simon Willison</a></cite> | <cite title="Source Title"><a href="https://www.fast.ai/" target="_blank">Fastai</a></cite> | <cite title="Source Title"><a href="https://render.com/" target="_blank">Render</a></cite> | <cite title="Source Title"><a href="https://www.crestle.ai/" target="_blank">Crestle.ai</a></cite> | <cite title="Source Title"></cite> By Source, <a href="//en.wikipedia.org/wiki/File:Vegas_Golden_Knights_logo.svg" title="Fair use of copyrighted material in the context of Vegas Golden Knights">Fair use</a>, <a href="https://en.wikipedia.org/w/index.php?curid=52802457">Link</a></footer></footer>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
$('#exampleModal').modal({ show: false})
</script>
</body>
</html>
