<html lang='en'>
<head>
    <title>⚔️ Vegas Golden Knights or SJ Sharks 🦈</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
    <script src='../static/html2canvas.js'></script>
    <script src="../static/reimg.js"></script>
    <script src="../static/exif.js"></script>
</head>
<body>
<div>
    <div class='center'>
        <div class='title'><img class="knights-logo" src="../static/img/Vegas_Golden_Knights_logo.svg" alt="Golden Knights Logo"><span class="golden-gold">Vegas Golden Knights</span> ⚔️ or <span class="shark-teal">SJ Sharks</span> 🦈</div>
        <p>
            Take a picture 📷 to determine if it is <span class="golden-gold">Vegas Born</span> ⚔️ or from the <span class="shark-teal">Shark Tank</span> 🦈. 
        </p>
        <!----<p>Show your support for the Las Vegas Golden Knights!</p>-->
        <div class='content'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <button class='choose-file-button' type='button' onclick='showPicker()'>📷 Take Photo</button>
            <div class='analyze' style="padding-bottom:30px;">
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()' data-backdrop="static" data-keyboard="false">🕵️ Examine</button>
            </div>
            <div class='upload-label'>
                <label id='upload-label'>No file chosen</label>
            </div>
            <div>
                <img id='image-picked' class='no-display special-img' alt='Chosen Image' height='200'>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><span class="golden-gold">Vegas Golden KnAIght 🤖</span> predicts...</h5>
                        <button data-html2canvas-ignore id="closeBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span data-html2canvas-ignore aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class='result-label'>
                            <h2 id='result-label'></h2>
                            <div id='result-img' class="img-class">
                                
                            </div>
                            <br>
                            <a data-html2canvas-ignore id="screenShot" onclick='screenshot();' class='btn btn-light' href="#"><i class="fas fa-file-download"></i> Save Image</a><br><br>
							<a data-html2canvas-ignore class='btn btn-light' href="https://www.facebook.com/sharer/sharer.php?u=https://knight-or-not.onrender.com/"><i class="fab fa-facebook-f"></i> Share</a>
							<a data-html2canvas-ignore class='btn btn-light' href="https://twitter.com/intent/tweet?url=https://knight-or-not.onrender.com/&text=Vegas%20Golden%20KnAIght!&hashtags=vegasborn,goldenknights,VegasGoldenKnAIght,AI"><i class="fab fa-twitter"></i> Tweet</a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-html2canvas-ignore id="nopeBtn" type="button" class='choose-file-button' data-dismiss="modal">👎 Nope! Sorry KnAIght.</button>
                        <button data-html2canvas-ignore id="yupBtn" type="button" class='analyze-button' data-dismiss="modal">👍 Yup! You are a genius KnAIght.</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="blockquote-footer">Made with 💜 by <cite title="Source Title"><a href="https://twitter.com/jkeatin" target="_blank">jkeatin</a></cite></footer>
        <footer class="blockquote-footer">Thanks to <cite title="Source Title"><a href="https://course.fast.ai/deployment_render.html" target="_blank">Simon Willison</a></cite> | <cite title="Source Title"><a href="https://www.fast.ai/" target="_blank">Fastai</a></cite> | <cite title="Source Title"><a href="https://render.com/" target="_blank">Render</a></cite> | <cite title="Source Title"><a href="https://colab.research.google.com" target="_blank">Google Collab</a></cite> | <cite title="Source Title"></cite> By Source, <a href="//en.wikipedia.org/wiki/File:Vegas_Golden_Knights_logo.svg" title="Fair use of copyrighted material in the context of Vegas Golden Knights">Fair use</a>, <a href="https://en.wikipedia.org/w/index.php?curid=52802457">Link</a></footer></footer>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
$('#exampleModal').modal({ show: false})


$( "#closeBtn" ).click(function() {
  $( "div.img-class img" ).remove();
});

$( "#yupBtn" ).click(function() {
  $( "div.img-class img" ).remove();
});

$( "#nopeBtn" ).click(function() {
  $( "div.img-class img" ).remove();
});




function screenshot(){
 
    html2canvas(document.querySelector(".modal-dialog")).then(canvas => {
        canvas.id = "canvasimg";
        document.body.appendChild(canvas);
        /*var a = document.createElement('a');
        document.body.appendChild(a);
        a.href = canvas.toDataURL("image/jpeg").replace("image/jpeg", "image/octet-stream");
        a.download = 'image.jpg';
        a.click();
        document.body.removeChild(link);
        document.body.removeChild(canvas);*/
        

        // force client download of svg as png image
        ReImg.fromCanvas(document.getElementById('canvasimg')).downloadPng();
        document.body.removeChild(canvas);

        /*var link = document.createElement('a');
        link.download = 'filename.png';
        link.href = document.getElementById('canvasimg').toDataURL()
        link.click();*/
    });
}


</script>
</body>
</html>
