body {
    background-color: #000;
    color:#fff;
}

a {
    color:#B4975A;
}
.modal-dialog {
    background-color:#000;
}
.modal-content {
    background-color:#000;
}
.modal-header {
    background-color:#000;
}
.modal-body {
    background-color:#000;
}
.result-label {
    background-color:#000;
}

.modal-footer {
    background-color:#000;
}

canvas {
    background-color:#000;
}

a:hover {
    color:rgb(236, 198, 115);
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px;
    padding-left:50px;
    padding-right:50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #fff;
}

.golden-gold {
    color:#B4975A;
}

.shark-teal {
    color:#006D75;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}

button.choose-file-button {
  width: 200px;
  height: 40px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #B4975A;
  font-size: 13px;
  color: #B4975A;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #B4975A;
    border-radius: 2px;
    background-color: #B4975A;
    font-size: 13px;
    color: #ffffff;
}

button:focus {outline:0;}

.knights-logo {
    width:45px;
    display:inline-block;
    padding:5px;
}

.modal-content {
    background-color:#000;
    border: 1px solid white;
}

button.close {
    color:white;
}

.special-img-gold {
    border: 4px solid #B4975A;
}

.result-label-gold {
    color: #B4975A;
}

.special-img-teal {
    border: 4px solid #006D75;
}

.result-label-teal {
    color: #006D75;
}

